[submodule "sts"]
	path = sts
	url = ../CSGamesAuthService
[submodule "api"]
	path = api
	url = ../CSGames-Api
[submodule "gateway"]
	path = gateway
	url = ../CS-Gateway
[submodule "mail"]
	path = mail
	url = ../mail
