[submodule "sts"]
	path = sts
	url = git@github.com:CSGames/CSGamesAuthService
[submodule "api"]
	path = api
	url = git@github.com:CSGames/CSGames-Api
[submodule "gateway"]
	path = gateway
	url = git@github.com:CSGames/CS-Gateway
[submodule "mail"]
	path = mail
	url = git@github.com:CSGames/mail
